doctype html
html
  head
    title Home Page
    link(rel="stylesheet" href="../public/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="admin.css")
  body
    .navbar
      a(href="/home") Home
      .dropdown
        button.dropbtn
          | View Details
          i.fa.fa-caret-down
        .dropdown-content
          a(href="./customerlists" target="") Customer
          a(href="./saleslist" target="") Sales Executive
      .dropdown
        button.dropbtn
          | Register 
          i.fa.fa-caret-down 
        .dropdown-content
          a(href="./customerreg" target="_blank") Customer
          a(href="./login" target="_blank") Sales Executive
    .outerdiv
          .row
            .col
                  img.d-block.w-100(src="Images/bb-bbb.JPG", alt=align="centre" width="200" height="100") 
                  h2(style="color:#4d81f1; font-size: x-large; text-align: centre;")
                  | BBB, is a private company that offers bodabodas,tuktuks,tricycles among others on credit to qualified Ugandans.
                
            .col 
                      img.d-block.w-100(src="Images/honda.jpg" alt= width="900" height="400")

           
    span#foo(style="font-size: large; float: right; ") bodaboda banja &copy2020


























