doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="admin.css")
    title Boda Banja
  body
    .navbar 
      a(href="/home" style="font-size: 35px; color: #dfdfe0;") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BBB***BB-banja
      div(style="float: right; ")
        a(href="/home") Home
        .dropdown
          button.dropbtn
            | View Details
            i.fa.fa-caret-down
          .dropdown-content
            a(href="./customerlists" target="") Customer
            a(href="./saleslist" target="") Sales Executive
        .dropdown
          button.dropbtn
            | Register
            i.fa.fa-caret-down
          .dropdown-content
            a(href="./customerreg" target="") Customer
            a(href="./login" target="") Sales Executive
    .outerdiv 
      .row
        .col1    
          p(style="color:#4d81f1; font-size: 55px;")
            | Boda Boda Banja &nbsp;&nbsp;&nbsp;&nbsp;Uganda
          p(style="color:#4d81f1;")
            | We are a private company that offers bodabodas, tuktuks, tricycles among others on credit to qualified Ugandans.
          p(style="font-size:50px") Own your own Boda &#128522;
        .col2     
          img.d-block.w-100(src="Images/own.JPG", alt="" width="600" height="250") 
          img(src="./Images/honda.jpg" alt="" width="600" height="250")
          brbr
          span#foo(style="font-size: 25px; color:#4d81f1; float: right; ") bodaboda banja &copy2020



