<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="admin.css" />
    <title>Boda Banja</title>
  </head>

  <body>
    <div class="navbar">
      <a href="/home" style="font-size: 35px; color: #dfdfe0;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BBB***BB-banja
      </a>
      <div style="float: right;">
        <a href="/home">Home</a>
        <div class="dropdown">
          <button class="dropbtn">
            View Details<i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./customerlists" target="">Customer</a
            ><a href="./saleslist" target="">Sales Executive</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            Register<i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./customerreg" target="">Customer</a
            ><a href="./login" target="">Sales Executive</a>
          </div>
        </div>
      </div>
    </div>
    <div class="outerdiv">
      <div class="row">
        <div class="col1">
          <p style="color: #4d81f1; text-align: centre; font-size: 55px;">
            Boda Boda Banja &nbsp;&nbsp;&nbsp;&nbsp;Uganda
          </p>
          <p style="color: #4d81f1;">
            Private company that offers bodabodas, tuktuks, tricycles among
            others on credit to qualified Ugandans.
          </p>
          <br />
          <p style="font-size: 50px;">Own your own Boda &#128522;</p>
        </div>
        <div class="col2">
          <img class="d-block w-100" src="Images/own.JPG" alt="" width="600" height="250"/>
          <img src="./Images/honda.jpg" alt="" width="600" height="250" />
          <br>
          <br>
          <span id="foo" style="font-size: 25px; color: #4d81f1; float: right;">bodaboda banja &copy2020</span>
        </div>
      </div>
    </div>
  </body>
</html>
