doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Log In
    link(rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="login.css")
  body
    header
    .outerdiv
      h2 Sales Executive Login
        form(method="POST" action="/salelogin")
          | Username:
          br
          input#btn_sp(type="text" name="username" value="" placeholder="username")
          br
          br
          |                 Password:
          br
          input#btn_sp(type="password" name="password" value="" placeholder="password")
          br
          button#btn_signup.button2 LOG IN
          br
          br
          a(href="")
            center Forgot Password
      footer
        span#foo(style="font-size: large; float: right; ") bodaboda banja &copy2020   